<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}TRIVIAL{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
        body{
            background-color: #33586A;
        }
		#posicio{
			text-align: center;
		}

		.tauler{
            height: 600px;
            width: 600px;
		}
        
            .titol{
                text-align: center;
            }
            
            #numero{
                border-style: solid;
                width: 70px;
                height: 100px;
                text-align: center;
                margin-top: 10px;
            }
            
            #dau{
                margin-top: 10px;
                
            }
        </style>
    </head>
    <body>
        <h1 class="titol">TRIVIAL</h1>
     
        <div id="numero">
        <a href="{{ path('partida2') }}"> <img id="dau" src="img/dados.png" width="60px" height="60px"></a>

        {{number}}
        </div>


    <div id=posicio>
        <img id="tauler" src="{{ asset('img/tablero.jpg') }}" alt="Symfony!" />
    </div>
    </body>
</html>