<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
<link rel="stylesheet" href="{{ asset('css/opcions.css') }}" />
<html>
    <head>
        
        <style>
            a{
                text-decoration:none;
            }
        </style>
    
    </head>
    
    <body>
        <div class="iniciada button">
            <a href="/partida">  Partida iniciada </a>
        </div>
        
        <div class="nova button">
            <a href="/partida">Nova partida</a>
        </div>
    </body>
</html>