       body{
        background-color: #33586A;
    }
    
        #global{

    }

	h1{
	text-align: center;
    font-size: 30px;
}
    
    #username{
        margin-bottom: 2%;
        border-radius: 25px;
    }
    
    #password{
        margin-bottom: 2%;
        border-radius: 25px;
    }
    
    #remember_me{
        margin-bottom: 2%;
    }




#_submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


#_submit {
    margin-top:  15%;
    margin-left: 15%;
    margin-bottom: 20%;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

#_submit:hover {
    background-color: #4CAF50;
    color: white;
}



form {

        
        margin-left: 30%;
        margin-right: 30%;
        border-style: solid;
        padding-left: 10%;
        padding-right: 10%;
        background-color: #B9FD86;
    
}
